.hover {
    padding: 20px 50px;
    background-color: #142021;
    border: 2px solid #57CFD9;
    border-radius: 10px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.9px;
    transition: 0.2s ease-in-out; 
    cursor: pointer;
    text-decoration: none;
    color: #57CFD9;
    
}

.hover-down {
    background-color: #142021;
    border: 2px solid #57CFD9;
    transition: 0.1s linear;
}

.img {
    transition: 0.1s linear;
}

.icons {
    transition: 0.1s linear;
}

.icons:hover {
    filter: drop-shadow(0 0 3px #57CFD9);
}

.hover:hover, .hover-down:hover, .img:hover{
    filter: drop-shadow(7px 7px #57CFD9);
}

.line {
    height: 3px;
    width: 120px;
    position: relative;
    left: -43px;
    bottom: 70px;
    border-radius: 20px;
    background-color: #57CFD9;
    transform: rotate(90deg);
}